<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="row">
      <div class="row">
        <div class="col s10 m6 l6">
          <ol class="breadcrumbs">
            <li><a href="#">System Manage</a></li>
            <li class="active">Users Manage</li>
          </ol>
        </div>
        <div class="col s2 m6 l6">
          <a href="admin/users/new" th:href="${#mvc.url('UC#newUser').build()}" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">add</i></a>
        </div>
      </div>
      <th:block th:replace="~{admin/shared/table :: table(thead='username,name,gender,createdAt', model='user')}">

      </th:block>
    </div>
  </div>
</body>
</html>