<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block layout:fragment="resources">
    <style>
      .linage {
        fill: none;
        stroke: black;
      }
      .marriage {
        fill: none;
        stroke: black;
      }
      .permission-node {
        background-color: lightblue;
        border-style: solid;
        border-width: 1px;
      }
      .nodeText{
        font: 10px sans-serif;
      }

      .node {
        background-color: lightblue;
        border-style: solid;
        border-width: 1px;
      }
      .fixed-action-btn.context-menu{
        bottom: 0px;
        right: 0px;
        padding: 0px;
      }
    </style>
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col s10 m6 l6">
      <ol class="breadcrumbs">
        <li><a href="#">System Manage</a></li>
        <li class="active">Permissions Manage</li>
      </ol>
    </div>
    <div class="col s2 m6 l6">
      <button data-target="addPermission" class="btn-floating btn-large waves-effect waves-light right modal-trigger"><i class="material-icons">add</i></button>
    </div>
  </div>
  <div id="permission-tree">

  </div>
  <div id="addPermission" class="modal">
    <form action="" th:action="${#mvc.url('PC#create').build()}" method="post">
      <div class="modal-content">
        <h4>添加权限</h4>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <input type="hidden" id="parentId" name="parent.id">
              <div class="input-field col s6">
                <input autocomplete="off" placeholder="Placeholder" id="permission-name" name="name" type="text" class="validate">
                <label for="permission-name">Name</label>
              </div>
              <div class="input-field col s6">
                <input autocomplete="off" placeholder="Placeholder" id="permission-url"  name="url" type="text" class="validate">
                <label for="permission-url">URL</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="modal-close waves-effect waves-green btn-flat">取消</button>
        <button type="submit" class="modal-close waves-effect waves-green btn-flat">添加</button>
      </div>
    </form>
  </div>
  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var permissionTree = /*[[${permissions}]]*/ [];
    /*]]>*/

    $(document).ready(function(){
        init();
      $('.fixed-action-btn').floatingActionButton({
        direction: 'left'
      });
    });

    function openAddPermission(id){
      $('#parentId').val(id);
      $('#addPermission').modal('open');
    }

    function init() {
        $("#permission-tree").html('');
        dTree.init(permissionTree, {
            target: "#permission-tree",
            debug: true,
            width: $('#permission-tree').width(),
            height: $('body').height() - 100,
            callbacks: {
                nodeClick: function(name, extra, id) {
                    //openAddPermission($('#node'+id).data().id);
                },
                nodeRenderer: function(name, x, y, height, width, extra, id, nodeClass, textClass, textRenderer, metaData) {
                    let node = '';
                    node += '<div ';
                    node += 'style="height:100%;width:100%;" ';
                    node += 'class="fixed-action-btn context-menu ' + nodeClass + '" ';
                    node += 'data-id="'+metaData.id + '"';
                    node += 'id="node' + id + '">\n';
                    node += textRenderer(name, extra, textClass);
                    node += '<ul> <li><a class="btn-floating red delete-btn" data-href="/admin/permissions/'+ metaData.id +'"><i class="material-icons">delete</i></a></li><li><a href="/admin/permissions/' + metaData.id + '" class="btn-floating green"><i class="material-icons">info_outline</i></a></li> <li><a href="javascript:;" onclick="openAddPermission('+metaData.id+')" class="btn-floating blue"><i class="material-icons">add</i></a></li> </ul>';
                    node += '</div>';
                    return node;
                }
            }
        });
        initDeleteButton();
    }
  </script>
</div>
</body>
</html>