<th:block th:fragment="table">
  <table class="striped highlight centered">
    <thead>
    <tr>
      <th th:each="head : ${#table.toI18NModelAttrPrefixes(model, thead)}" th:text="#{${head}}"></th>
      <th th:if="${operation != null}">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="object : ${page.getContent()}">
      <td th:each="value : ${#table.getValue(object, thead)}" th:text="${value}"></td>
      <td th:if="${operation != null}" th:replace="~{${operation}}"></td>
    </tr>
    </tbody>
  </table>
  <div class="center-align">
    <ul th:if="${page.getTotalPages() > 0}" class="pagination">
      <li class="waves-effect" th:classappend="${page.isFirst() ? 'disabled' : ''}">
        <a href="javascript:;" th:href="${page.isFirst() ? 'javascript:;' : './?page=' + (page.getNumber() - 1)}" ><i class="material-icons">chevron_left</i></a>
      </li>
      <li th:each="i: ${#numbers.sequence(0, page.getTotalPages() - 1)}" class="waves-effect" th:classappend="${(page.getNumber())  == i ? 'active' : ''}">
        <a href="javascript:;" th:href="${'./?page='+(i)}" th:text="${i + 1}">1</a>
      </li>
      <li th:classappend="${page.isLast() ? 'disabled' : ''}" class="waves-effect">
        <a href="javascript:;" th:href="${page.isLast() ? 'javascript:;' : './?page=' + (page.getNumber() + 1)}">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul>
  </div>

</th:block>